<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>AI Career Copilot</title>
    
    <link rel="stylesheet" href="style.css">
<head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href ="/history"> History<a/>
                <a href ="/dashboard">Dashboard</a>

                <a href ="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <main class="conteiner">
        {% block container %}{% endblock %}
    </main>
    <footer>&copy All right resarved</footer>
<body>
<html>